body{
    background-color: dodgerblue;
    text-align: center;
    color: white;
    font-family: monospace;
    font-size: 18px;
}

a{
    color: gold;

}

a:hover{
    color: crimson;
}

main{
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
}

h2{
    text-align: center;
}

img{
    width: 35%;
}

figure{
    text-align: center;
    font-style: italic;
}

