<nav>
    <a href="https://webpages.charlotte.edu/jjagdon/">CLT Web</a>
    ⚡
    <a href="https://github.com/jonathanjag08">Github</a>
    ⚡
    <a href="https://jonathanjag08.github.io/">Github.io</a>
    ⚡
    <a href="https://www.freecodecamp.org/JonathanJagdon">FreeCodeCamp</a>
    ⚡
    <a href="https://www.codecademy.com/profiles/Jonathan.Jagdon">CodeAcademy</a>
    ⚡
    <a href="https://www.linkedin.com/in/jonathan-jagdon-10224027a/">Linkedin</a>
    

</nav>
<p>Page Built by <a href="jagdonenterprises.com/"> Jagdon Enterprises</a>&copy; 2025</p>

<a href="https://validator.w3.org/check?uri=referer" id="validation_link_html">
    <img style="border:0;width:88px;height:31px" src="https://mytienhoang.github.io/itis3135/z_archives/html_validation.png" alt="Valid HTML!">
</a>
<a href="https://jigsaw.w3.org/css-validator/check/referer" id="validation_link_css">
    <img style="border:0;width:88px;height:31px" src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!">
</a>